<section class="footer">
    <div class="footer__item">
        <h1 class="font-2 secondary">Myriam Mahjoubi</h1>
        <p class="text-center opacity-6">Retrouvez-moi également sur les réseaux sociaux pour ne rater aucune de mes publications.</p>
        <div class="footer__networks">
            <a class="footer__circle" href="">
                <img src="{{ asset('images/footer/alexia.png') }}" alt="" width="24" height="24">
            </a>
            <a class="footer__circle" href="">
                <img src="{{ asset('images/footer/linkedin.svg') }}" alt="" width="24" height="24">
            </a>
        </div>
    </div>
    <div class="footer__item">
        <h1 class="font-2 secondary">À Propos</h1>
        <div class="footer__obligatory__mentions">
            <a href="" class="opacity-6">Mentions légales</a>
            <a href="" class="opacity-6">Politiques de confidentialités</a>
        </div>
    </div>
    <div class="footer__item">
        <h1 class="font-2 secondary">Adresse</h1>
        <div class="footer__contact">

            <div class="footer__contact__item">
                <div class="footer__circle">
                    <img src="{{ asset('images/footer/position.svg') }}" alt="" width="24" height="24">
                </div>
                <div class="footer__adress__text">
                    <p class="opacity-6">34 rue du Cabinet</p>
                    <p class="opacity-6">95000 Pontoise</p>
                </div>
            </div>

            <div class="footer__contact__item">
                <div class="footer__circle">
                    <img src="{{ asset('images/footer/phone.svg') }}" alt="" width="24" height="24">
                </div>
                <p class="opacity-6">06 19 77 66 75</p>
            </div>

            <div class="footer__contact__item">
                <div class="footer__circle">
                    <img src="{{ asset('images/footer/letter.svg') }}" alt="" width="24" height="24">
                </div>
                <a class="opacity-6" href="">mmahjoubi@domaine.fr</a>
            </div>
        </div>
    </div>
</section>
<footer class="text-center">
    <small class="text-center">
        <span class="full-name">Cabinet Myriam Mahjoubi</span>
        <span class="acronym-name">CMM</span>
        © 2024 Tous Droits Réservés
    </small>
</footer>